# cursive
.idea
*.iml

# calva
.calva
.lsp
.vscode
.portal

# cache, artifacts, logs
.clj-kondo/.cache
.clj-kondo/com.github.seancorfield
.clj-kondo/metosin/malli/config.edn
.clj-kondo/metosin/malli-types/config.edn
.cpcache
.nrepl-port
*.class
node_modules

.DS_Store
